<div class="todo-text col-md-11" @onclick="ToggleTodo">
    <p class="mb-0">@text</p>
</div>
<div class="todo-checkbox col-md-1 d-flex @GetTodoClass()" @onclick="ToggleTodo">
    <Checkbox isComplete="@isComplete" />
</div>

@code {
    [Parameter]
    public Guid id { get; set; }

    [Parameter]
    public string text { get; set; }

    [Parameter]
    public bool isComplete { get; set; }

    [Parameter]
    public bool isEditable { get; set; }

    private string todoClass;

    private string GetTodoClass()
    {
        todoClass = isComplete ? "todo-complete" : "";

        return todoClass;
    }

    private void ToggleTodo()
    {
        if (!isEditable)
        {
            isComplete = isComplete ? false : true;
        }
    }
}
